.myBoxEvent {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    min-width: 490px;
    min-height: 200px;
    text-align: left;
    padding: 0px;
    max-height: 100%;
    position: relative;
    margin-bottom: 7vh;
}

.sliderBoxEvent {
    padding-left: 0;
    
}

.contentBoxEvent {
    padding: 30px 50px;
}

.eventSlider {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

}

.eventImage {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    min-height: 100%;
    margin: auto;
    display: block;
    overflow: hidden;
    border-radius: 24px;
}