.App {
  text-align: center;
  font-size: 1.1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingArea {
  margin-top: 60vh;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65vh;
  background: rgba(113, 133, 0, 0.0) !important;
  z-index: 80;
  position: absolute;
  top: 0%;
}

.theRowToLoader {
  height: 100vh;
  background: rgb(209, 143, 55);
  background: linear-gradient(265deg, rgba(209, 143, 55, 0.25) 0%, rgba(146, 0, 42, 0.25) 100%, rgba(255, 255, 255, 0.8855917366946778) 100%);
}

.LoadLogo {
  z-index: 50;
  height: 20vh;
  width: 18vh;
  top: 30vh;
  position: absolute;
  opacity: 1;
}

.iconTwo {
  position: absolute;
  left: 0%;
  bottom: 0%;
}